.container {
    width: 80%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 200px;
    background-color: black;
    justify-content: space-between;
    margin-right: 10px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;

}

.meet {
    background-image: url('https://avatars.mds.yandex.net/i?id=01ca5cf9b68a9dba88a14bb4caa12dddb1779dd2-4809557-images-thumbs&n=13');
    background-size: cover;
    background-position: 50% 50%;

}

.cheese {
    background-image: url(https://avatars.mds.yandex.net/i?id=7d5af1eb2f50dbc8ce918212a4bfef34cccf2fa6-12190079-images-thumbs&n=13);
}

.wine {
    background-image: url(https://avatars.mds.yandex.net/i?id=e53ca3323df7caef8b9dfdef53ac922c4abd27e1-4560317-images-thumbs&n=13);
}

h4 {
    color: aliceblue;

}

.color {
    color: green
}